[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"panda3d" = {file = "../panda3d/panda3d-1.11.0-cp38-cp38-linux_x86_64.whl", sys_platform = "== 'linux'"}
pytz = "*"
future = "*"

[requires]
python_version = "3.8"
